<!DOCTYPE html>
<html lang="zh-CN">

<head>
<meta charset="utf-8">
<title>制梦空间注册登录页面</title>
<link rel="stylesheet" href="./static/css/style.css" type="text/css">
</head>

<body>
    <div class="content">
        <form action="/index" method="post">
        <div class="form sign-in">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <h2>欢迎回来</h2>
            <label>
                <span>用户名</span>
                <input type="text" name="username" />
            </label>
            <label>
                <span>密码</span>
                <input type="password" name="password" />
            </label>
            <button type="submit" class="submit">登 录</button>
        </div>
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                    <h2>还未注册？</h2>
                    <p>立即注册，发现大量机会！</p>
                </div>
                <div class="img__text m--in">
                    <h2>已有帐号？</h2>
                    <p>有帐号就登录吧，好久不见了！</p>
                </div>
                <div class="img__btn">
                    <span class="m--up">注 册</span>
                    <span class="m--in">登 录</span>
                </div>
            </div>
            </form>
            <form action="/register" method="post">
            <div class="form sign-up">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <h2>立即注册</h2>
                <label>
                    <span>用户名</span>
                    <input type="text" name="username" />
                </label>
                <label>
                    <span>邮箱</span>
                    <input type="email" name="email"/>
                </label>
                <label>
                    <span>密码</span>
                    <input type="password" name="password"/>
                </label>
                <button type="submit" class="submit">注 册</button>
            </div>
            </form>
        </div>
    </div>
    <script src="./static/js/script.js"></script>

	<div style="text-align:center;">
</div>
</body>

</html>