<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="./static/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="./static/css/style2.css" type="text/css" rel="stylesheet" media="all">
<link href="./static/css/font-awesome.css" rel="stylesheet"> <!-- font-awesome icons -->
<link rel="stylesheet" href="./static/css/owl.carousel1.css" type="text/css" media="all" />

<!-- //Custom Theme files --> 
<!-- js -->
<script src="./static/js/jquery-2.2.3.min.js"></script>
<!-- //js -->
<!-- web-fonts -->   
<link href="http://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700" rel="stylesheet">

<!-- //web-fonts -->
</head>
<body> 
	 <!-- banner -->
   	<!-- Header -->
		<div class="logo-w3layouts">
			<h1><a href="index.html"><i class="fa fa-pie-chart" aria-hidden="true"></i>制梦空间</a></h1>
		</div>
		
		<!-- Navigation -->
<!--		<div class="menu">-->
<!--					<a href="#" class="navicon"></a> -->
<!--					<div class="toggle"> -->
<!--						<ul class="toggle-menu">-->
<!--							<li><a href="index.html" class="active"> Home</a></li>-->
<!--							<li><a href="#about" class="scroll"> About</a></li> -->
<!--								<li><a href="services.html"> Services</a></li> -->
<!--								<li><a href="icons.html">Web Icons</a></li>-->
<!--									<li><a href="typography.html">Typography</a></li>-->
<!--							<li><a href="portfolio.html"> Portfolio</a></li> -->
<!--							<li><a  href="mail.html"> Contact Us</a></li>-->
<!--						</ul>-->
<!--					</div> -->
<!--				</div>   -->

		<!-- //Navigation -->

		<!-- banner-slider -->
			<div class="w3l_banner_info">
				<div class="slider">
					<div class="callbacks_container">
								<ul class="rslides" id="slider3">
									<li>
										<div class="slider-img">
											<img src="./static/img/b1.jpg" class="img-responsive" alt="impetus">
										</div>
										<div class="slider_banner_info">
											
										</div>

									</li>
									<li>
										<div class="slider-img">
											<img src="./static/img/b5.jpg" class="img-responsive" alt="impetus">
										</div>
										<div class="slider_banner_info">
											
											
										</div>

									</li>
									<li>
										<div class="slider-img">
											<img src="./static/img/b6.jpg" class="img-responsive" alt="impetus">
										</div>
										<div class="slider_banner_info">
											
										</div>

									</li>

								</ul>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		<!-- //banner-slider -->
		
	<!-- //Header -->

	<!--//banner-->
	<!--about -->
	 <div align="center" style="margin-top: 30px">
		 <div class="w3-about-right1-text">
				<h1> 制 梦 者 空 间</h1>
				<p>这里您可以随心所欲的设计的大学生活，尽情的展示的你才华@</p>
				<h5><a href="/">立马进入</a></h5>
		 </div>
	 </div>
	<div class="about" id="about">
		<div class="container">
		<div class="wthree_head_all">
				<h3> About</h3>
			</div>
			<div class="w3-about-grids1">
				<div class="col-md-6 w3-about-left">
					<div class="w3-about-left-img">
					<img src="./static/img/a1.jpg" alt="about1">
				</div>
				<div class="w3-about-left-text">
				<h3>实用万能工具包</h3>
				<p>有时候，人就是这么奇怪，受了天大的委屈都不会吭声，但听到安慰的话，往往泣不成声，那些硬生生憋回去的眼泪，往往受不了一句简单的安慰。</p>
				<h5><a href="http://qqxb.tk/bm.html">See more</a></h5>
				</div>
				</div>
				<div class="col-md-6 w3-about-right">
				<div class="w3-about-right-img">
				<img src="./static/img/a2.jpg" alt="about2">
				</div>
				<div class="w3-about-right-text">
				<h3>万能音乐解析</h3>
				<p>小时候一直不理解，父母为什么可以那么早起床。长大后才明白，叫醒他们的不是闹钟，而是生活和责任。哪有什么岁月静好，只不过有人在替你负重前行。</p>
				<h5><a href="http://www.musictool.top">See more</a></h5>
				</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="w3-about-grids2">
				<div class="col-md-6 w3-about-left1">
				<div class="w3-about-left1-img">
				<img src="./static/img/a3.jpg" alt="about3">
				</div>
				<div class="w3-about-left-text">
				<h3>万能视频解析</h3>
				<p>后来我知道了，很多事情上都可以努力，但人与人之间不行，能走到最后的，其实一开始就是同路人。相遇是有原因的，不是恩赐便是教训。</p>
				<h5><a href="http://www.y80s.com">See more</a></h5>
				</div>
				</div>
				<div class="col-md-6 w3-about-right1">
				<div class="w3-about-right1-img">
				<img src="./static/img/a4.jpg" alt="about4">
				</div>
				<div class="w3-about-right1-text">
				<h3>系统之家</h3>
				<p>我给你的备注是十二，朋友十二画，恋人十二画，爱人十二画，家人十二画。所以，十二的名字，叫做难忘。</p>
				<h5><a href="https://msdn.itellyou.cn">See more</a></h5>
				</div>
				</div>
				<div class="clearfix"></div>
			</div>
						<div class="w3-about-grids1">
				<div class="col-md-6 w3-about-left">
					<div class="w3-about-left-img">
					<img src="./static/img/a1.jpg" alt="about1">
				</div>
				<div class="w3-about-left-text">
				<h3>图片王国</h3>
				<p>祝你终有一日强大到不需要任何人保护，不再哭泣；祝你学会温柔，笑着对待每一个人；祝你看淡所有得失，不再去过分纠缠；祝你学会勇敢，不再去惧怕；祝你终会展翅高飞，不再忧虑；祝你余生安稳快乐，即使孤独。</p>
				<h5><a href="https://bz.zzzmh.cn/#index">See more</a></h5>
				</div>
				</div>
				<div class="col-md-6 w3-about-right">
				<div class="w3-about-right-img">
				<img src="./static/img/a2.jpg" alt="about2">
				</div>
				<div class="w3-about-right-text">
				<h3>游戏专区</h3>
				<p>你现在需要充实的生活，翻滚的火锅，首不厌的曲子，数本挚爱的书，杯里安稳的茶水和不醉的酒，而不是牵肠挂肚的感情，瑟瑟发抖的灵魂，和爱而不得的那个人。</p>
				<h5><a href="https://0day.ali213.net">See more</a></h5>
				</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="w3-about-grids2">
				<div class="col-md-6 w3-about-left1">
				<div class="w3-about-left1-img">
				<img src="./static/img/a3.jpg" alt="about3">
				</div>
				<div class="w3-about-left-text">
				<h3>博客</h3>
				<p>你有遇到让你哭笑不得的事吗？哭也得不到你，笑也得不到你。</p>
				<h5><a href="https://blog.csdn.net/qq_45826388">See more</a></h5>
				</div>
				</div>
				<div class="col-md-6 w3-about-right1">
				<div class="w3-about-right1-img">
				<img src="./static/img/a4.jpg" alt="about4">
				</div>
				<div class="w3-about-right1-text">
				<h3>CTF工具包</h3>
				<p>“晚安”是分量很重的两个字，它是清晨见过的阳光，中午飘过的云，还有傍晚吹过的微风和欲言又止的话。所以晚安的立场不只是之于你的好眠，而是我想让你知道，我会在梦里继续想念你的。</p>
				<h5><a href="https://www.ctftools.com/down/">See more</a></h5>
				</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	
	<!--//about-->
  <!-- services -->
  
  <div class="w3-services" id="services">
  	<div class="container">
	<div class="w3-services-grid1">
		<div class="col-md-8 w3-services-grid-left">
			<div class="w3-services-left-text">
				<h3>制梦空间热评</h3>
				<h4>发挥你的思想，展示你的才华@!</h4>
				<p>喜欢不一定非要谈恋爱，现在互相拥有还太过幼稚，等自己真正能撑起一片天的时候再对喜欢的人负责，而不是在空间里留言在签名上暧昧，天天聊的没完，再相爱的两个人也有自己的事情，没有必要每时每刻都在一起，不是一分手就删留言删签名，然后拿着最后的照片像世界末日一样哭的稀里哗啦。</p>
				<h5><a href="/pl">come on</a></h5>
			</div>
		</div>
		<div class="col-md-4 w3-services-grid-right">
		<img src="./static/img/s1.jpg" alt="img">
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="w3-services-grid2">
	<div class="col-md-4 w3-services-grid-left1">
		<img src="./static/img/s2.jpg" alt="img">
	</div>
	<div class="col-md-8 w3-services-grid-right1">
			<div class="w3-services-left-text">
				<h3>制梦者文章</h3>
				<h4>展示你的思想，编写个人阅历文章 </h4>
				<p>少年有他的山海，有他的重重山影，有他的万里波涛。如果可以，风给他，沙漠给他，天空也给他。是无拘无束的风，会下大雨的沙漠和铺满星辰的天空。万物给他，让他自由。</p>
				<h5><a href="/kjwz">come on</a></h5>
			</div>
	</div>
	<div class="clearfix"></div>
  </div>
   </div>
     </div>
  
  <!-- //services -->
  <!-- Clients -->
	<div class="clients-main" id="clients">
		<div class="container">
			<!-- Owl-Carousel -->
			<div class="wthree_head_all">
				<h3> What People Say</h3>
			</div>
			<div id="owl-demo" class="owl-carousel text-center clients-right">
				<div class="item g1">
					<div class="agile-dish-caption">
						<h4>John Smith</h4>
						<span>Lorem Ipsum</span>
					</div>
					<img class="lazyOwl" src="./static/img/c1.jpg" alt="" />
					<div class="clearfix"></div>
					<p class="para-w3-agile"><span class="fa fa-quote-left" aria-hidden="true"></span>Duis nulla nulla, faucibus id diam ac, luctus sodales purus.
						Quisque nibh ipsum,Ut accumsan.</p>
				</div>
				<div class="item g1">
					<div class="agile-dish-caption">
						<h4>Jecy Deoco</h4>
						<span>Lorem Ipsum</span>
					</div>
					<img class="lazyOwl" src="./static/img/c22.jpg" alt="" />
					<div class="clearfix"></div>
					<p class="para-w3-agile"><span class="fa fa-quote-left" aria-hidden="true"></span>Duis nulla nulla, faucibus id diam ac, luctus sodales purus.
						Quisque nibh ipsum,Ut accumsan.</p>
				</div>
				<div class="item g1">
					<div class="agile-dish-caption">
						<h4>Devid Fahim</h4>
						<span>Lorem Ipsum</span>
					</div>
					<img class="lazyOwl" src="./static/img/c3.jpg" alt="" />
					<div class="clearfix"></div>
					<p class="para-w3-agile"><span class="fa fa-quote-left" aria-hidden="true"></span>Duis nulla nulla, faucibus id diam ac, luctus sodales purus.
						Quisque nibh ipsum,Ut accumsan.</p>
				</div>
				<div class="item g1">
					<div class="agile-dish-caption">
						<h4>Honey Jisa</h4>
						<span>Lorem Ipsum</span>
					</div>
					<img class="lazyOwl" src="./static/img/c1.jpg" alt="" />
					<div class="clearfix"></div>
					<p class="para-w3-agile"><span class="fa fa-quote-left" aria-hidden="true"></span>Duis nulla nulla, faucibus id diam ac, luctus sodales purus.
						Quisque nibh ipsum,Ut accumsan.</p>
				</div>
				<div class="item g1">
					<div class="agile-dish-caption">
						<h4>Jecy Deoco</h4>
						<span>Lorem Ipsum</span>
					</div>
					<img class="lazyOwl" src="./static/img/c22.jpg" alt="" />
					<div class="clearfix"></div>
					<p class="para-w3-agile"><span class="fa fa-quote-left" aria-hidden="true"></span>Duis nulla nulla, faucibus id diam ac, luctus sodales purus.
						Quisque nibh ipsum,Ut accumsan.</p>
				</div>
				<div class="item g1">
					<div class="agile-dish-caption">
						<h4>Devid Fahim</h4>
						<span>Lorem Ipsum</span>
					</div>
					<img class="lazyOwl" src="./static/img/c3.jpg" alt="" />
					<div class="clearfix"></div>
					<p class="para-w3-agile"><span class="fa fa-quote-left" aria-hidden="true"></span>Duis nulla nulla, faucibus id diam ac, luctus sodales purus.
						Quisque nibh ipsum,Ut accumsan.</p>
				</div>
			</div>
			<!--// Owl-Carousel -->
		</div>
	</div>
	<!--// Clients -->
<!-- footer -->
	<div class="footer_top_agileits">
		<div class="container">
			<div class="col-md-4 footer_grid">
				<h3>About Us</h3>
				<p>Nam libero tempore cum vulputate id est id, pretium semper enim. Morbi viverra congue nisi vel pulvinar posuere sapien
					eros.
				</p>
			</div>
			<div class="col-md-4 footer_grid">
				<h3>Latest News</h3>
				<ul class="footer_grid_list">
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque vulputate </a>
					</li>
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="#" data-toggle="modal" data-target="#myModal">Dolor amet sed quam vitae</a>
					</li>
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque, vulputate </a>
					</li>
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="#" data-toggle="modal" data-target="#myModal">Dolor amet sed quam vitae</a>
					</li>
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque, vulputate </a>
					</li>
				</ul>
			</div>
			<div class="col-md-4 footer_grid">
				<h3>Contact Info</h3>
				<ul class="address">
					<li><i class="fa fa-map-marker" aria-hidden="true"></i>8088 USA, Honey block, <span>New York City.</span></li>
					<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
					<li><i class="fa fa-phone" aria-hidden="true"></i>+09187 8088 9436</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
			<div class="footer_grids">
				<div class="col-md-4 footer_grid_left">
					<h3>Sign up for our Newsletter</h3>
				</div>
				<div class="col-md-8 footer_grid_right">

					<form action="#" method="post">
						<input type="email" name="Email" placeholder="Enter Email Address..." required="">
						<input type="submit" value="Submit">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="footer_w3ls">
		<div class="container">
					<div class="footer_bottom1">
						<p>Copyright &copy; 2018.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
					</div>
		</div>
	</div>
	<!-- //footer -->
<!-- bootstrap-modal-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					Crop Pic
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
					<div class="modal-body">
						<img src="./static/img/img1.jpg" alt=" " class="img-responsive" />
						<p>Ut enim ad minima veniam, quis nostrum 
							exercitationem ullam corporis suscipit laboriosam, 
							nisi ut aliquid ex ea commodi consequatur? Quis autem 
							vel eum iure reprehenderit qui in ea voluptate velit 
							esse quam nihil molestiae consequatur, vel illum qui 
							dolorem eum fugiat quo voluptas nulla pariatur.
							<i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit 
								esse quam nihil molestiae consequatur.</i></p>
					</div>
			</div>
		</div>
	</div>
		<!-- bootstrap-modal-pop-up -->
	<div class="modal video-modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					Crop Pic
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
					<div class="modal-body">
						<img src="./static/img/img2.jpg" alt=" " class="img-responsive" />
						<p>Ut enim ad minima veniam, quis nostrum 
							exercitationem ullam corporis suscipit laboriosam, 
							nisi ut aliquid ex ea commodi consequatur? Quis autem 
							vel eum iure reprehenderit qui in ea voluptate velit 
							esse quam nihil molestiae consequatur, vel illum qui 
							dolorem eum fugiat quo voluptas nulla pariatur.
							<i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit 
								esse quam nihil molestiae consequatur.</i></p>
					</div>
			</div>
		</div>
	</div>
<!-- //bootstrap-modal-pop-up --> 
	<!-- bootstrap-modal-pop-up -->
	<div class="modal video-modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					Crop Pic
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
					<div class="modal-body">
						<img src="./static/img/img3.jpg" alt=" " class="img-responsive" />
						<p>Ut enim ad minima veniam, quis nostrum 
							exercitationem ullam corporis suscipit laboriosam, 
							nisi ut aliquid ex ea commodi consequatur? Quis autem 
							vel eum iure reprehenderit qui in ea voluptate velit 
							esse quam nihil molestiae consequatur, vel illum qui 
							dolorem eum fugiat quo voluptas nulla pariatur.
							<i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit 
								esse quam nihil molestiae consequatur.</i></p>
					</div>
			</div>
		</div>
	</div>
<!-- //bootstrap-modal-pop-up --> 
	<!-- bootstrap-modal-pop-up -->
	<div class="modal video-modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					Crop Pic
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
					<div class="modal-body">
						<img src="./static/img/img4.jpg" alt=" " class="img-responsive" />
						<p>Ut enim ad minima veniam, quis nostrum 
							exercitationem ullam corporis suscipit laboriosam, 
							nisi ut aliquid ex ea commodi consequatur? Quis autem 
							vel eum iure reprehenderit qui in ea voluptate velit 
							esse quam nihil molestiae consequatur, vel illum qui 
							dolorem eum fugiat quo voluptas nulla pariatur.
							<i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit 
								esse quam nihil molestiae consequatur.</i></p>
					</div>
			</div>
		</div>
	</div>
<!-- //bootstrap-modal-pop-up --> 
<!-- //bootstrap-modal-pop-up --> 
	<!-- menu-js -->
	<script>
		$('.navicon').on('click', function (e) {
		  e.preventDefault();
		  $(this).toggleClass('navicon--active');
		  $('.toggle').toggleClass('toggle--active');
		});
	</script> 
	<!-- //menu-js -->
	<!--banner Slider starts Here-->
						<script src="./static/js/responsiveslides.min.js"></script>
							<script>
								// You can also use "$(window).load(function() {"
								$(function () {
								  // Slideshow 4
								  $("#slider3").responsiveSlides({
									auto: true,
									pager:true,
									nav:false,
									speed: 500,
									namespace: "callbacks",
									before: function () {
									  $('.events').append("<li>before event fired.</li>");
									},
									after: function () {
									  $('.events').append("<li>after event fired.</li>");
									}
								  });
							
								});
							 </script>

							<!--banner Slider starts Here-->
								<!-- Owl-Carousel-JavaScript -->
	<script src="./static/js/owl.carousel.js"></script>
	<script>
		$(document).ready(function () {
			$("#owl-demo").owlCarousel({
				items: 2,
				lazyLoad: true,
				autoPlay: false,
				pagination: true,
			});
		});
	</script>
	<!-- //Owl-Carousel-JavaScript -->

	<script src="./static/js/SmoothScroll.min.js"></script>
	<!-- start-smooth-scrolling --> 
	<script type="text/javascript" src="./static/js/move-top.js"></script>
	<script type="text/javascript" src="./static/js/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
			
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->	 
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->   
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./static/js/bootstrap.js"></script>
</body>
</html>